html {
    font-family:'Helvetica Neue Light',HelveticaNeue-Light,'Helvetica Neue',Helvetica,Arial,sans-serif;	
    background-color: #eeeeee;
	color: #333333;
}
	
h1 {
	text-align: center;
	border: 1px solid #000;
    background-color: #333333;
	color: #f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
}


h2 {
	font-size: large;
}

a { 
    text-decoration: none;
	color: #2288bb;
	
}

a: { color:#009eb8;

}

a:visited {
    color: #009eb8;
}

a:hover {
    color: #009eb8;
}

img {
    border: none;
	}
	
dt { 
    color: cadetblue;
    font-weight:bold;
}


    
