html {
	font-family:"Times New Roman";
	
}
	
h1 {
	text-align: center;
	border: 1px solid #000;
    background-color: #e6e8ea;
	color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

a { 
    text-decoration: none;
	color: #2288bb;
	
}

a:visited {
    color: #888888;
}

a:hover {
    color: #33aaff;
}

img {
    border: none;
	}
	
dt { 
    color: cadetblue;
    font-size: large;	
}


    
