h1 {
	background: gray;
	text-align: center;
	border: 1px solid #000;
    background-color: #e6e8ea;
}

a { 

text-decoration: none
}


img {
    border: none;
	}
	
dt { 
    color: cadetblue;
    font-size: large;	
}
	
.figure_legend {
    text-align: center;
}

    
