        .lavaLampWithImage {
            position: relative;
            height: 29px;
            width: 421px;
            background: url("bg.gif") no-repeat top;
            padding: 15px;
            margin: 10px 0;
            overflow: hidden;
        }
                .lavaLampWithImage li {
                    float: left;
                    list-style: none;
                }
                    .lavaLampWithImage li.back {
                        background: url("lava.gif") no-repeat right -30px;
                        width: 9px; height: 30px;
                        z-index: 8;
                        position: absolute;
                    }
                        .lavaLampWithImage li.back .left {
                            background: url("lava.gif") no-repeat top left;
                            height: 30px;
                            margin-right: 9px; /* 7px is the width of the rounded shape */
                        }
                    .lavaLampWithImage li a {
                        text-decoration: bold;
                        color: #fff;
                        outline: none;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        height: 30px;
                        position: relative;
                        margin: auto 10px;    
                    }
                        .lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
                            border: none;
                        }

        .lavaLampNoImage {
            position: relative;
            height: 29px;
            background-color: rgba(51, 51, 51, 1); /* menu bar color*/
            padding: 15px;
            margin: 10px 0;
            overflow: hidden;
            border: 1px solid gray;
            border-radius:5px;
            -moz-border-radius:5px; /* Firefox 3.6 and earlier */;            
        }
                .lavaLampNoImage li {
                    float: left;
                    list-style: none;
                }
                    .lavaLampNoImage li.back {
                        background-color: rgba(255, 255, 255, 0.6); /* box color*/
                        color: #blue;
                        width: 9px;
                        height: 30px;
                        z-index: 8;
                        position: absolute;
                        padding: 10px;
                        border-radius:5px;
                        -moz-border-radius:5px; /* Firefox 3.6 and earlier */;
                    }
                    .lavaLampNoImage li a {
                        text-decoration: bold;
                        color: rgba(255, 255, 255, 0.6); /* unselected text color */
                        outline: none;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        height: 30px;
                        position: relative;
                        margin: auto 10px;
                    }
                        .lavaLampNoImage li a:hover, .lavaLampNoImage li a:active, .lavaLampNoImage li a:visited {
                            border: none;
                            color: rgba(255, 255, 255, 1);
                        }       
                        .lavaLampNoImage li a:hover {
                            color: rgba(255, 255, 255, 1);
                        }   
                        

        .lavaLampBottomStyle {
            position: relative;
            height: 29px;
            width: 421px;
            background-color: white;
            padding: 15px;
            margin: 10px 0;
            overflow: hidden;
            border: 1px solid gray;
        }
                .lavaLampBottomStyle li {
                    float: left;
                    list-style: none;
                }
                    .lavaLampBottomStyle li.back {
                        border-bottom: 5px solid blue;
                        width: 9px;
                        height: 30px;
                        z-index: 8;
                        position: absolute;
                    }
                    .lavaLampBottomStyle li a {
                        font: bold 14px arial;
                        text-decoration: bold;
                        color: #000;
                        outline: none;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 0;
                        z-index: 10;
                        display: block;
                        height: 30px;
                        position: relative;
                        margin: auto 10px;
                    }   
                        .lavaLampBottomStyle li a:hover, .lavaLampBottomStyle li a:active, .lavaLampBottomStyle li a:visited {
                            border: none;
                        }                     